<h1>AAAARRRHH ! Make me fight !</h1>

<%= form_for @fight do |f| %>
  <%= f.label :pirate_a_id %>
  <%= f.select :pirate_a_id, Pirate.pluck(:name, :id) %>
  <%= f.label :pirate_b_id %>
  <%= f.select :pirate_b_id, Pirate.pluck(:name, :id) %>
  <%= f.submit "Fight ! Ye syphilitic puppy killin' slimey bastitch !" %>
<% end %>

<h2>Show me all me farrgin' crew !</h2>
<%= render partial: "form_core", locals: { pirate: @pirate, btn_label: "Get me a new pirate !"} %>

<ul>
  <%= render @pirates %>
</ul>
